{% extends "base.twig" %}
{% block head %}
    {{ parent() }}
    
{% endblock %}
{% block title %}{{title}}{% endblock %}
{% block content %}
	<div id="container">
	<form id="formulaire" action="/validate" method="post"> 
		<div class="form-row">
			<div class="form-group col-md-6" >
				<label>Nom</label>
				 <input type="text" pattern="[A-Za-z]*" class="form-control" id="nom" name="nom"  placeholder="Entrez votre nom" required>
	   			
			</div>
			<div class="form-group col-md-6" >
				<label>Prenom</label>
				 <input type="text" pattern="[a-zA-Z]*-?[a-zA-Z]*" class="form-control" id="prenom" name="prenom" placeholder="Entrez votre prenom" required>
	   			
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-3" >
				<label>Numero de rue</label>
				 <input type="number" class="form-control" id="numeroRue" name="numeroRue"  placeholder="Entrez votre numero de rue" required>
	   			
			</div>
			<div class="form-group col-md-9" >
				<label>Nom de rue</label>
				 <input type="text" pattern="([A-z0-9À-ž\s]){2,}" class="form-control" id="nomRue" name="nomRue"  placeholder="Entrez le nom de votre rue" required>
	   			
			</div>

		</div>
		<div class="form-row">
			<div class="form-group col-md-3" >
				<label>Code Postal</label>
				 <input type="text" pattern="[0-9]{5}" class="form-control" id="codeP" name="codeP" placeholder="Entrez le code postal" required>
	   			
			</div>
			<div class="form-group col-md-9" >
				<label>Ville</label>
				 <input type="text" pattern="[a-zA-Z]*-?[a-zA-Z]*"  class="form-control" id="ville"  name="ville" placeholder="Entrez le nom de votre ville" required>
	   			
			</div>

		</div>
		<div class="form-row">
			<div class="form-group col-md-6" >
				<label>Login</label>
				 <input type="text" pattern="[A-Za-z0-9]*" class="form-control" id="login" name="login" placeholder="Entrez un nom d'utilisateur" required>
	   			
			</div>
			<div class="form-group col-md-6" >
				<label>Email</label>
				 <input type="email"   class="form-control" id="email"  name="email" placeholder="Entrez votre email" required>
	   			
			</div>

		</div>
		<div class="form-row">
			<div class="form-group col-md-6" >
				<label>Mot de Passe</label>
				 <input type="password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" class="form-control" id="mdp" name="mdp" placeholder="Entrez un mot de passe" required>
	   			
			</div>
			<div class="form-group col-md-6" >
				<label>Verification mot de passe</label>
				 <input type="password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"   class="form-control" id="mdpCheck"  placeholder="Re-entrez mot de passe pour verification" required>
	   			
			</div>

		</div>
			<button type="submit" id="submit"  class="btn btn-primary">S'inscrire </button>
	</form>
</div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ base_url}}/asset/js/script.js"></script> 
{% endblock %}