<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="./bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="./style.css">
 
  <meta charset="UTF-8"> 
<head>
	<title>{{title}}</title>
</head>
<body >
	<div id="container">
    Bien joue {{name}}
</div>
</body>
<script src="script.js"></script> 
</html>