input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

#container{
	padding-left: 10%;
	padding-right: 10%;
}


body {
 margin: 0;
background-color: #ffffff;
 background-repeat:no-repeat;
background-attachment: fixed;
background-size: cover;


padding-top: 56px;
}

.navbar li{
    margin-left:10px;
}

.modal-backdrop
{
    opacity:0.5 !important;
}